@tailwind base;
@tailwind components;
@tailwind utilities;

.AccordionTrigger {
    display:flex;
    justify-content:space-between;
    width:100%;
}
.AccordionTrigger > span {
    padding-right:100px;
}
.AccordionChevron {
	transition: transform 300ms;
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
	transform: rotate(180deg);
}
