@tailwind base;
@tailwind components;
@tailwind utilities;

.AccordionTrigger {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.AccordionTrigger > span {
  padding-right: 100px;
}
.AccordionChevron {
  transition: transform 300ms;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blinking {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
